.DS_Store
node_modules/
build/win-unpacked/
build/win-ia32-unpacked/
dist/electron/main
dist/electron/renderer
dist/web
userData
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
