@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* ::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #5f5f5f00;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
  }
  body:hover::-webkit-scrollbar-thumb {
    background: #5f5f5f90;
  } */
}